@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow-x: hidden;
    overflow-y: hidden;
}
html {
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}
.trans {
    transition: 400ms ease;
}
.bg {
    background-position: center;
    background-size: cover;
    background-blend-mode:darken;
    background-color: rgba(0, 0, 0, 0.4);
}
.photo-opacity {
    visibility: hidden;
    transition: 300ms ease opacity, 300ms ease visibility;
    opacity: 0;
}

.photo-hover:hover .photo-opacity {
    opacity: 0.5;
    visibility: visible;
}

.photo-hover:hover .photo-text {
    opacity: 1;
}

@media screen and (max-width:1000px) {
    .msg-img {
        width:25px;
        height:25px;
    }
}