@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    box-sizing: border-box;
    overflow-x: hidden;
}
* {
    scroll-behavior: smooth;
}
.trans {
    transition: 400ms ease;
}
.photo-opacity {
    visibility: hidden;
    transition: 300ms ease opacity, 300ms ease visibility;
    opacity: 0;
}

.photo-hover:hover .photo-opacity {
    opacity: 0.5;
    visibility: visible;
}

.photo-hover:hover .photo-text {
    opacity: 0.5;
}