@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow-x: hidden;
    overflow-y: hidden;
}
html {
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
* {
    box-sizing: border-box;
}
.trans {
    transition: 400ms ease;
}
.bg {
    background-position: center;
    background-size: cover;
    background-blend-mode:darken;
    background-color: rgba(0, 0, 0, 0.4);
}
.photo-opacity {
    visibility: hidden;
    transition: 300ms ease opacity, 300ms ease visibility;
    opacity: 0;
}

.photo-hover:hover .photo-opacity {
    opacity: 0.5;
    visibility: visible;
}

.photo-hover:hover .photo-text {
    opacity: 1;
}

.msg-input {
    font-size: 18px !important;
    height:22px !important;    
}

@media screen and (max-width:1000px) {
    .msg-img {
        width:25px;
        height:25px;
    }
    .msg-input {
        font-size: 18px !important;;
        height:18px !important;
        line-height: 18px !important;
    }
    .page-left-enter,
    .page-left-exit {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .page-left-enter {
      transform: translateX(-100%);
    }
    .page-left-enter-active,
    .page-left-exit-active {
      transform: translateX(0);
      transition: transform 600ms ease-in-out;
    }
    .page-left-exit {
      transform: translateX(0);
    }
    .page-left-exit-active {
      transform: translateX(-100%);
      transition: transform 600ms ease-in-out;
    }
    .page-right-enter,
    .page-right-exit {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .page-right-enter {
      transform: translateX(100%);
    }
    .page-right-enter-active,
    .page-right-exit-active {
      transform: translateX(0);
      transition: transform 600ms ease-in-out;
    }
    .page-right-exit {
      transform: translateX(0);
    }
    .page-right-exit-active {
      transform: translateX(100%);
      transition: transform 600ms ease-in-out;
    }
}